/* Theme: Dark Red*/
/* Theme: Light Red*/
button.btn-dark-red,
button.btn-light-red {
  color: white;
  border: none;
}

button.btn-dark-red:hover,
button.btn-light-red:hover,
button.btn-dark-red:active,
button.btn-light-red:active,
button.btn-dark-red:focus,
button.btn-light-red:focus {
  color: white;
  background-color: #380810;
  box-shadow: 0 0 0 0.2rem rgba(120, 19, 35, 0.25);
}

button.btn-dark-red {
  background-color: #781323;
}

button.btn-light-red {
  background-color: #d33f49;
}

/* Theme: Grey*/
button.btn-grey:hover,
button.btn-grey:active,
button.btn-grey:focus {
  color: white;
  background-color: #37323e;
  box-shadow: 0 0 0 0.2rem rgba(55, 50, 62, 0.25);
}

button.btn-grey {
  color: #37323e;
  background-color: #dddddd;
}

/* Theme: None*/
button.btn-theme-none:hover {
  color: #781323;
}

button.btn-theme-none:active,
button.btn-theme-none:focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 19, 35, 0.25);
}
