#login-col {
  border-radius: 0.25rem;
  padding: 3rem;
}

@media (min-width: 768px) {
  #login-row {
    margin: 0;
    height: 100%;
  }

  #login-col {
    border-radius: 0;
    padding: 5rem;
  }
}
